body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  left: 0;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  z-index: 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e74a35),
    to(#f26843)
  );
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  opacity: 0.99;
  border: none;
  border-radius: 25px;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(255, 255, 255, 0.2)),
      to(rgba(255, 255, 255, 0.2))
    ),
    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px #ac1000;
  box-shadow: 0px 2px 2px #ac1000;
  cursor: pointer;
}

.button:active {
  color: #fceeec;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.07)),
      to(rgba(0, 0, 0, 0.07))
    ),
    -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: inset 0px 2px 2px #942718;
  box-shadow: inset 0px 2px 2px #942718;
}

.main-container {
  width: 1146px;
  margin: 0 auto;
}

.main-container .worktime {
  text-align: right;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  margin-bottom: 8px;
}

.logo {
  margin-right: 23px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  margin-bottom: 22px;
  z-index: 1;
}

.navigation-item-title {
  position: relative;
  height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-item-title a {
  position: relative;
  color: #ffffff;
}

.navigation-item-title > a:hover,
.navigation-item-title > a:focus {
  color: #323232;
  z-index: 1;
}

.catalog-header:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 32px;
  background-color: #d07058;
  border-radius: 25px;
  z-index: -1;
  margin-top: 1px;
  padding-right: 27px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-13px, -50%);
  transform: translate(-13px, -50%);
}

.navigation-item-title > a:hover:before,
.navigation-item-title > a:focus:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 32px;
  background-color: #f7f6f3;
  border-radius: 25px;
  z-index: -1;
  margin-top: 1px;
  padding-right: 27px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-13px, -50%);
  transform: translate(-13px, -50%);
}

.navigation-block {
  display: none;
}

.navigation-item-title:hover .navigation-block,
.navigation-item-title:focus .navigation-block {
  display: block;
}

.navigation-catalog {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #323232;
  width: 143px;
  height: 171px;
  list-style: none;
  padding: 0;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 29px;
  right: -15px;
  border-radius: 5px;
}

.navigation-catalog div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navigation-catalog li {
  height: 30px;
}

.navigation-catalog a {
  display: block;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  height: 25px;
  padding-top: 7px;
  padding-left: 19px;
}

.navigation-catalog a:hover,
.navigation-catalog a:hover,
.navigation-catalog a:focus {
  background-color: #fbded7;
}

.navigation-catalog a:active {
  background-color: #f6b5a5;
}

.navigation-current-page {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background-color: #d07058;
  padding-top: 7px;
  padding-left: 19px;
}

.navigation-catalog-novelty {
  position: relative;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  font-weight: 700;
  padding-top: 2px;
  padding-left: 19px;
  margin-top: 7px;
  margin-bottom: 8px;
}

.navigation-catalog-novelty::after {
  position: absolute;
  content: "";
  width: 128px;
  height: 1px;
  background-color: #fbded8;
  top: 31px;
  left: 7px;
}

.navigation-catalog-item:last-child {
  margin-bottom: 7px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  list-style: none;
  width: 249px;
  height: 35px;
  margin-left: auto;
  margin-top: 13px;
  margin-right: -3px;
  z-index: 1;
}

.catalog {
  margin-right: 13px;
}

.navigation-item a {
  font: inherit;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-catalog a {
  display: block;
  margin-top: 6px;
  margin-left: 12px;
  border: none;
}

.item-catalog {
  width: 75px;
  height: 32px;
  margin-top: -4px;
}

.user-navigation-item button {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  border: none;
}

.user-search {
  width: 33px;
  height: 33px;
  border: none;
  background-image: url(../img/svg/loupe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 9px;
}

.user-navigation-item .user-search:hover,
.user-navigation-item .user-search:focus {
  background-color: #f8f7f4;
  background-image: url(../img//svg/loupe-hover.svg);
}

.user-navigation-item .search {
  display: none;
}

.user-navigation-item:hover .search {
  display: block;
}

.user-navigation-item:nth-child(1) {
  position: relative;
}

.search {
  position: absolute;
  content: "";
  width: 325px;
  height: 30px;
  border-radius: 5px;
  left: -309px;
  margin-top: 1px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.search input {
  min-width: 311px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
}

.user-entrance {
  position: relative;
  width: 93px;
  height: 33px;
  margin-right: 10px;
  padding-left: 35px;
}

.user-entrance::before {
  display: block;
  position: absolute;
  content: "";
  width: 21px;
  height: 19px;
  background-image: url(../img/svg/entrance.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 17px;
}

.user-navigation-item .user-entrance:hover,
.user-navigation-item .user-entrance:focus {
  color: #323232;
  background-color: #f7f4f8;
  transition: all 4s ease-out;
}

.user-entrance:hover::before {
  background-image: url(../img//svg/entrance-hover.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 17px;
}

.entrance {
  background-color: #f8f7f4;
}

.entrance input {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.user-navigation-item .entrance {
  display: none;
}

.user-navigation-item:hover .entrance {
  display: block;
}

.user-navigation-item:nth-child(2) {
  position: relative;
}

.entrance {
  position: absolute;
  content: "";
  width: 259px;
  height: 158px;
  border-radius: 5px;
  left: -183px;
  margin-top: 2px;
  padding-left: 19px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.entrance input {
  min-width: 225px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 13px;
  margin-bottom: 21px;
}

.entrance button {
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
  margin-top: 0px;
  padding-top: 14px;
  padding-left: 25px;
  padding-bottom: 14px;
  padding-right: 25px;
}

.entrance input[type="password"] {
  margin-bottom: 7px;
}

.entrance div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  margin-top: 11px;
}

.entrance div p {
  color: #323232;
  margin: 0;
}

.entrance a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.3);
  text-decoration: underline rgba(255, 255, 255, 0.3);
}

.entrance a:hover,
.entrance a:focus,
.entrance a:active {
  color: #ffbc9e;
}

.user-basket {
  position: relative;
  width: 99px;
  height: 33px;
  margin-right: 5px;
  padding-left: 35px;
}

.user-basket::before {
  display: block;
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  background-image: url(../img/svg/basket.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 16px;
}

.user-navigation-item .basket-catalog {
  position: relative;
  width: 117px;
  height: 33px;
  color: #323232;
  background-color: #f8f7f4;
  margin-right: 5px;
  padding-left: 35px;
}

.basket-catalog::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  background-image: url(../img/svg/basket-red.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 15px;
}

.basket {
  display: none;
}

.user-navigation-item:hover .basket {
  display: block;
}

.user-navigation-item:nth-child(3) {
  position: relative;
}

.user-navigation-item .basket {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  color: #323232;
  right: 7px;
  top: 36px;
  width: 535px;
  height: 242px;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding-left: 9px;
}

.basket table {
  position: relative;
  width: 513px;
  height: 119px;
  padding-top: 11px;
  margin-bottom: 25px;
}

.basket table:after {
  position: absolute;
  content: "";
  width: 510px;
  height: 1px;
  background-color: #999999;
  left: 7px;
  bottom: -14px;
}

.basket .delete-product {
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  background-image: url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 4px 0px;
  border: none;
  cursor: pointer;
}

.basket img {
  border-radius: 50%;
  padding-top: 2px;
}

.basket th {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  color: #323232;
  width: 243px;
}

.basket-price {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  width: 115px;
}

.basket td span {
  color: #999999;
}

.basket-count {
  font-size: 15px;
  font-weight: 700;
  color: #323232;
  text-align: right;
  margin-right: 12px;
}

.basket-button {
  text-align: right;
}

.basket-button .button {
  font-size: 18px;
  font-weight: bold;
  color: #fefefe;
  line-height: 24px;
  margin-right: 18px;
  height: 42px;
  width: 168px;
}

.worktime {
  font-size: 14px;
  font-weight: 700;
  text-align: end;
  margin-top: -12px;
  margin-left: auto;
}

.worktime-catalog {
  margin-top: -16px;
  margin-bottom: 26px;
}

.worktime p:first-child {
  margin-top: 3px;
  margin-bottom: 3px;
}

.worktime p:last-child {
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
}

.search {
  background-color: #f8f7f4;
}

.search input {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 223px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-right: 0px;
  padding-left: 0;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 0px;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs .underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-index {
  position: relative;
  width: 1147px;
  margin-top: -32px;
}

.main-catalog {
  width: 1147px;
  margin-top: -47px;
}

.main-catalog h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 25px;
}

.filters {
  margin-bottom: 23px;
}

.filters legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filters fieldset {
  border: none;
}

.main-sort {
  margin-left: 5px;
  margin-right: 3px;
}

.main-sort-select {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  width: 194px;
  height: 36px;
  border-radius: 25px;
  border: none;
  -webkit-appearance: none;
  background-image: url("../img/svg/icon-down-dir-white.svg");
  background-repeat: no-repeat;
  background-position: 168px 13px;
  margin-left: -16px;
  margin-top: 1px;
  padding-left: 11px;
  padding-bottom: 2px;
}

.main-sort-select::-ms-expand {
  display: none;
}

.main-sort-select:hover,
.main-sort-select:focus {
  color: #000000;
}

.sort-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
}

.range-filter {
  margin-left: -14px;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 20px;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-left: -14px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.range-controls .scale {
  display: absolute;
  content: "";
  width: 176px;
  height: 4px;
  background-color: rgb(248, 247, 244, 0.5);
  margin-left: 21px;
}

.range-controls .bar {
  width: 100px;
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 16px;
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.price-sort {
  margin-top: 1px;
  margin-right: 4px;
}

.fat-sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 415px;
  height: 37px;
  border-radius: 25px;
  padding: 0;
  margin-top: 2px;
  margin-right: 44px;
  margin-bottom: 5px;
  margin-left: -15px;
}

.filler-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  margin-top: -1px;
}

.sort-second {
  margin-left: 7px;
}

.sort-second-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 8px;
}

.sort-second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 703px;
  height: 37px;
  border-radius: 25px;
  padding: 0;
  margin-top: 0;
  margin-right: 13px;
  margin-left: -7px;
}

.sort-second ul li {
  margin-left: 47px;
  margin-right: 5px;
}

.sort-second ul li:nth-child(2) {
  margin-right: 7px;
}

.sort-second ul li:nth-child(3) {
  margin-right: 7px;
}

.sort-second ul li:nth-child(4) {
  margin-right: 7px;
}

.fat-sort li:first-child {
  margin-left: 21px;
}

.fat-sort li:last-child {
  margin-right: -8px;
}

.fat-sort li label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fat + label::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 0px;
  left: -31px;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.fat:checked + label::before {
  background-image: url("../img/svg/radio-on.svg");
  opacity: 0.8;
}

.sort-second li label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filler + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 24px;
  top: 2px;
  left: -32px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filler:checked + label::before {
  width: 26px;
  height: 24px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.sort-second button {
  color: #ffffff;
  width: 144px;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.sort-second button:hover,
.sort-second button:focus {
  color: #323232;
  background-color: #ffffff;
}

.sort-second button:active {
  color: #323232;
  background-color: #ededed;
}

.first-screen {
  text-align: center;
  margin-top: -36px;
  margin-bottom: -252px;
}

.slider-item {
  z-index: 2;
}

.slider-item img {
  margin-top: -105px;
}

.slider-controls {
  position: absolute;
  content: "";
  top: 455px;
  left: 0;
  z-index: 2;
}

.slider-item div {
  position: absolute;
  top: 229px;
  left: 222px;
  width: 700px;
}

.slider-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  margin-bottom: 33px;
}

.slider-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  width: 280px;
  height: 64px;
  padding: 0;
  margin-top: -4px;
  border-radius: 30px;
  cursor: pointer;
}

.slider-controls button {
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}

.slider-controls button:nth-child(1) {
  background-color: #ffffff;
}

.banners {
  margin-top: -42px;
  width: 100%;
  height: 253px;
  z-index: 5;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.banners-item {
  width: 100%;
  min-height: 229px;
  border-radius: 15px;
}

.raspbery {
  background-image: url("../img/bg-raspbery.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 27px;
}

.choko {
  background-image: url("../img/bg-choko.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.banners-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 15px;
  margin-left: 19px;
  margin-bottom: -3px;
}

.banners-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
}

.banners-button {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  width: 166px;
  height: 46px;
  margin-left: 375px;
  margin-bottom: 24px;
}

.choko .banners-button {
  width: 189px;
  margin-left: 351px;
}

.hits-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  width: 1147px;
  padding-left: 0;
}

.catalog-list {
  height: 1085.7px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.user-choise {
  position: relative;
}

.user-choise .hits-container,
.user-choise .catalog-container {
  position: absolute;
  content: "";
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  top: 0;
  left: -2px;
}

.catalog-item .catalog-container {
  position: absolute;
  content: "";
  width: 180px;
  height: 125px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  top: 163px;
  left: -2px;
}

.hits-icon {
  margin-bottom: 102px;
  margin-left: 2px;
}

.hits {
  width: 1167px;
  margin-bottom: 24px;
  margin-left: 0;
}

.hits-item div,
.catalog-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hits-title,
.catalog-title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
  width: 256px;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
  text-decoration-color: rgba(255, 255, 255, 0.2);
  margin-left: 1px;
  margin-top: 14px;
}

.hits-item a img,
.catalog-item a img {
  border-radius: 50%;
}

.hits-price,
.catalog-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  margin-top: 48px;
  margin-left: 2p;

}

.hits-price span,
.catalog-price span {
  font-size: 30px;
}

.hits-item,
.catalog-item {
  position: relative;
  min-height: 338px;
}


.hits-button,
.catalog-button {
  visibility: hidden;
}


.hits-item .hits-button,
.catalog-item .catalog-button {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 17px;
}

.hits-item:hover::before,
.catalog-item:hover::before {
  position: absolute;
  content: "";
  display: block;
  width: calc(100% + 26px);
  height: calc(100% + 68px);
  background-color: #ffffff;
  opacity: 0.4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: -7px;
  margin-left: -13px;
  z-index: 3;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.hits-item:hover .hits-button,
.hits-item:focus .hits-button,
.catalog-item:hover .catalog-button,
.catalog-item:focus .catalog-button {
  position: absolute;
  visibility: visible;
  cursor: pointer;
  bottom: -41px;
  left: 35px;
  z-index: 4;
}

.feature {
  color: #323232;
  background-image: url("../img/wafer.png");
  width: 1146px;
  min-height: 306px;
  border-radius: 15px;
  margin-top: 23px;
  margin-bottom: 41px;
}

.feature-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 25px;
  padding-left: 21px;
  margin-bottom: 20px;
}

.feature-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
}

.feature-list {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  width: 480px;
  margin-left: 55px;
  padding: 0;
  margin: 0;
  margin-left: 76px;
}

.feature-list:first-child {
  margin-right: 11px;
}

.feature-item {
  margin-bottom: 22px;
}

.eco {
  position: relative;
}

.eco::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 50px;
  background-image: url("../img/svg/eco.svg");
  top: -12px;
  left: -55px;
}

.ice-cream {
  position: relative;
}

.ice-cream::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/ice-cream.svg");
  top: -12px;
  left: -56px;
}

.cow {
  position: relative;
}

.cow::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/svg/cow.svg");
  top: -12px;
  left: -57px;
}

.thermometr {
  position: relative;
}

.thermometr::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 50px;
  background-image: url("../img/svg/thermometer.svg");
  top: -12px;
  left: -58px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1146px;
  height: 220px;
  margin-bottom: 39px;
}

.recipes {
  width: 560px;
  background-image: url("../img/seo-strawberry.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mail {
  width: 560px;
}

.recipes p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 6px;
}

.recipes h2 {
  margin-left: 19px;
  margin-top: 0px;
  width: 300px;
}

.recipes a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.mail {
  background-image: url("../img/svg/bg-post.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.bg-mail {
  position: relative;
  z-index: -1;
}

.bg-mail::before {
  position: absolute;
  content: "";
  width: 549px;
  height: 211px;
  border-radius: 15px;
  background-color: #f8f7f4;
  top: -12px;
  left: 6px;
  z-index: -1;
}

.mail p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
  padding-top: 16px;
  padding-left: 26px;
  padding-right: 18px;
  margin-bottom: 38px;
}

.mail input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  width: 352px;
  height: 40px;
  margin-left: 27px;
  padding-top: 0;
  padding-left: 11px;
}

.bg-mail button {
  font-size: 18px;
  width: 129px;
  height: 40px;
  margin-left: 6px;
}

.map {
  position: relative;
  width: 1146px;
  height: 430px;
  margin: 0 auto;
}

.map img {
  position: absolute;
  width: 1200px;
  height: auto;
  left: -27px;
}

.contact {
  position: absolute;
  z-index: 3;
  content: "";
  color: #323232;
  background-color: #ffffff;
  width: 302px;
  height: 305px;
  border-radius: 10px;
  top: 63px;
  right: -1px;
}

.contact h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 158px;
  margin-top: 27px;
  margin-left: 24px;
  margin-bottom: 2px;
}

.contact p {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-left: 24px;
  margin-bottom: 0;
}

.contact p:nth-child(2),
.contact p:nth-child(5) {
  margin-bottom: 14px;
}

.contact p span {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
}

.feedback-button {
  font-size: 18px;
  width: 252px;
  height: 44px;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 19px;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 250px;
  margin-left: auto;
  margin-right: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 188px;
  list-style: none;
  padding: 0;
}

.pagination-link a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding: 2px 8px;
}

.first-page {
  color: #ffffff;
  opacity: 0.2;
  margin-right: 7px;
}

.page-current {
  color: #323232;
  text-align: center;
  background-color: #ffffff;
  width: 24px;
  border-radius: 50%;
}

.pagination-link a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination-link a:active {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.arrow-right a {
  padding-right: 2px;
}

.main-footer {
  margin: 0;
  background: none;
  padding-top: 0px;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-catalog {
  padding-top: 17px;
}

.footer-catalog .footer-social {
  margin-left: 26px;
  margin-right: 63px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  list-style: none;
  padding: 0;
  margin-top: 36px;
  margin-left: 28px;
  margin-right: 61px;
}

.social-button {
  width: 38px;
  height: 38px;
}

.social-button svg {
  display: block;
  fill: rgba(255, 255, 255, 0.8);
  margin-right: auto;
  margin-left: auto;
}

.footer-social li {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-right: 12px;
}

.footer-social svg:hover,
.footer-social svg:focus {
  fill: rgba(255, 255, 255, 1);
}

.footer-social li:hover,
.footer-social li:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.footer-social svg:active {
  fill: #9e9e9e;
}

.footer-social li:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.footer-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 50px;
  padding: 0;
  padding-left: 40px;
  padding-top: 14px;
}

.footer-documents ul {
  padding: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 31px;
}

.footer-documents ul a {
  font-weight: 400;
}

.footer-documents .heart a {
  font-weight: 700;
}

.heart {
  position: relative;
}

.heart::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-top: 6px;
  margin-left: -22px;
}

.footer-documents a:hover,
.footer-documents a:active,
.footer-documents a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  margin-top: 18px;
  margin-left: 186px;
}

.footer-catalog .footer-copyright {
  margin-top: 19px;
}

.footer-copyright p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 3px;
  margin-left: -1px;
}

.footer-social li,
.footer-documents li {
  list-style: none;
}

.footer-social a,
.footer-documents a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.svg-academy {
  width: 108px;
  height: 39px;
  fill: #ffffff;
}

.footer-copyright a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
  text-decoration: underline;
}

.message {
  background-color: #f8f7f4;
}

.message h2 {
  color: #323232;
}

.message input,
.message textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #fefefe;
}

.message input[type="submit"] {
  font: inherit;
  color: #ffffff;
  background-color: #e84c36;
  border: none;
  border-radius: 25px;
}

/*Модальное окно*/

.modal {
  position: fixed;
  display: none;
  color: #323232;
  width: 455px;
  height: 435px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-left: 25px;
  z-index: 4;
}

.modal-show {
  display: block;
}

.modal-write {
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 455px;
  height: 440px;
}

.modal-close {
  position: absolute;
  content: "";
  top: 14px;
  right: 13px;
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../img/svg/cross-big.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.revie-form input,
.revie-form textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  border-radius: 5px;
}

.revie-name {
  width: 252px;
  height: 39px;
  padding-left: 13px;
  margin-bottom: 4px;
}

.revie-mail {
  width: 263px;
  height: 39px;
  padding-left: 13px;
  margin-bottom: 4px;
}

.revie-message {
  width: 412px;
  height: 145px;
  padding-left: 13px;
  padding-top: 9px;
  margin-bottom: 7px;
}

.revie-form button {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 25px;
  padding-top: 14px;
  padding-left: 25px;
  padding-bottom: 14px;
  padding-right: 25px;
}
.button_open {
  text-align: center;
}
.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  
}
.pop_up.active {
  display: block;
  
}
.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop_up_body {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
}
.pop_up_body1 {
  margin: auto;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
  display: flex;
}
.pop_up_body p {
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}
.pop_up_body input {
  display: block;
  margin: 25px auto 0px auto;
  width: 330px;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #89909f;
}

.pop_up_body input:focus {
  outline: none;
}
.pop_up_body button {
  cursor: pointer;
  display: block;
  width: 330px;
  margin: 60px auto 0px auto;
  padding: 20px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: orange;
}
.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: black
}